.content{
    display: flex;
}
.main {
    
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between; 
    width: 80%;
    margin: 0 auto;
    padding: 20px;
    
}

.side{
    
    margin-top: 40px;
    margin-left: 40px;
    height: 400px;
    width: fit-content;
    padding: 15px;
}

.movie-card {
   width:230px; 
    border: 4px solid #593196;
    border-radius: 5px;

   margin:1rem;
    padding: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    position: relative;
    
   
}

.movie-info{
    
    align-items: center;
    justify-content: space-between;
    padding:0.5rem 1rem 1rem;
}

.movie-info span{
   background-color: var(--primary-color);

   padding: 0.25rem 0.5rem;

   border-radius: 3px;
   font-weight: bold;
}

.green{
    border:solid 2px;
    border-radius:  50% ;
    padding:3px;
   
}

.company-info{
  margin: 10px;
  height: fit-content;
  bottom: 0;
  margin-bottom: 0;
  

}
.movie-card:last-child {
    margin-right: 0;
}




.movie-poster {
    max-width: 100%;
    height:auto;
}


.movie-title {
    font-weight: bold;
}

.movie-description {
    margin-top: 10px;
}

.desc-button{
  margin-left: 30px;
  height: fit-content;
  width: fit-content;
}



.movie-details {
   
 
    border: solid 3px;
    border-color: #593196;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    margin: 20px;
    display: flex;
    height: 70%;
    
  }
  .info-head{
    display: flex;
    justify-content: space-between;
  }
  
 
  .movie-details .movie-poster {
    max-width: 50%;
    height: auto;
    border-radius: 5px;
  }

  
  

  .movie-details .movie-detail-info {
    max-width: 35%;
    padding: 20px;
    box-sizing: border-box;
    margin: 20px;
    
   
    
  }
  

  .movie-details .movie-title {
    font-size: 24px;
    font-weight: bold;
    margin: 10px 0;
    color: #593196; 
    
  }
  
  
  .movie-details .movie-description {
    font-size: 16px;
    margin: 10px 0;
    line-height: 1.5;
    color: #593196; 
    font-weight: bold;
  }
  
 
  .movie-details .movie-genres {
    font-size: 16px;
    margin: 10px 10px;
    color: #593196; 
    font-weight: bold;
   
  }

  .movie-details .movie-release-date {
    font-size: 16px;
    margin: 10px 0;
    color: #593196; 
    font-weight: bold;
  }
  
 
  .movie-details .movie-runtime {
    font-size: 16px;
    margin: 10px 0;
    color: #593196; 
    font-weight: bold;
  }
  
 
  .movie-details .movie-rating {
    font-size: 16px;
    margin: 10px 0;
    color: #593196; 
    font-weight: bold;
  }
  
 
  .movie-details .movie-budget {
    font-size: 16px;
    margin: 10px 0;
    color: #593196; 
    font-weight: bold;
  }
  

  .movie-details .movie-revenue {
    font-size: 16px;
    margin: 10px 0;
    color: #593196; 
    font-weight: bold;
  }
  
  
  .movie-details .movie-tagline {
    font-size: 16px;
    margin: 10px 0;
    color: #593196; 
    font-weight: bold;
  }
  
  
  .movie-details .movie-imdb {
    font-size: 16px;
    margin: 10px 0;
    color: #593196; 
    font-weight: bold;
  }
  

  .movie-details .movie-language {
    font-size: 16px;
    margin: 10px 0;
    color: #593196; 
    font-weight: bold;
  }


.background-image {
    border-radius: 8px;
    position: absolute; 
    top: 0;
    left: 0;
    width: 70.7%;
    height: 77.5%;
    margin-top: 8.5%;
    margin-left: 26.5%;
    z-index: -1; 
    opacity: 0.4; 
    object-fit: cover;
  }


  


